.btn {
    &__good {
        background-color: darkgreen;
    }
    &__neutral {
        background-color:darkgoldenrod;
    }
    &__negative {
        background-color: darkred;
    }
}

button {
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    padding: 10px 16px;
    font-size: 26px;
    font-weight: 500;
    height: 80px;
    margin: 25px;
    color: white;
    width: 175px;
}